extends layout

block content
  h1= title
  p Welcome to #{title} Michael!
  p freemem: #{data.freemem} 
  p loadLast: #{data.loadLast} 
  p loadFiveMinutes: #{data.loadFiveMinutes} 
  p loadFifteenMinutes: #{data.loadFifteenMinutes} 
  p cpus: #{data.cpus.length} 